* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

img {
  height: 20px;
  width: 20px;
}

.navbar {
  padding: 0.7rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  box-shadow: 0 0 5px 0px rgb(66, 64, 64);
}
.nav-items {
  display: flex;
  gap: 2rem;
}

.container {
  padding: 0 2rem;
}

.sticky-box {
  height: auto;
  width: 18%;
  background-color: blue;
  padding: 8px;
  border-radius: 10px;
}

.sticky-box-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
}
.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
