@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}
ul {
  list-style: none;
}

img {
  height: 20px;
  width: 20px;
}

textarea {
  padding: 0.4rem;
  outline: none;
  resize: none;
}

.logo-create
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.create-note
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
   transition: 0.2s ease-in-out;
}
.create-note:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px 5px grey;
}

#picker
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border:none;
    cursor: pointer;
}
#picker::-webkit-color-swatch
{
    border-radius: 50%;
}
.search {
  background-color: #e3daf0;
  border: none;
  border-radius: 3px;
  outline: transparent;
  padding: 0.3rem;
}
.search::placeholder {
  font-size: 0.7rem;
  color: rgb(142, 137, 137);
  padding-left: 0.3rem;
}

.navbar {
  color: white;
  padding: 0.7rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  box-shadow: 0 0 5px 0px rgb(66, 64, 64);
}
.nav-items {
  display: flex;
  gap: 1rem;
}

.container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

.sticky-box {
  height: auto;
  width: 260px;
  background-color: #24252a;
  padding: 8px;
  border-radius: 10px;
  color: white;
  transition: 0.5s ease-in;
  margin-bottom: 1.5rem;
}

.sticky-box:hover {
  box-shadow: 0 0 20px 5px rgb(41, 40, 40);
}

.sticky-box-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
  cursor: pointer;
}

.click-show {
  background-color: #e3daf0;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-box-nav-item {
  border: solid white 1px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.sticky-box-nav-item:hover {
  transform: scale(1);
}

.sticky-box-nav-item {
  padding: 0.3rem;
}

.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 0.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-input {
  outline: transparent;
  border: none;
  padding: 0.3rem;
  width: 100%;
}

.title-input::placeholder {
  padding-left: 0.4rem;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(32, 26, 26);
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}

@media (width<500px) {
  .search {
    width: 100px;
    height: 20px;
  }
}
