@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* reseting default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  height: auto;
}

img {
  height: 20px;
  width: 20px;
}

textarea {
  padding: 0.4rem;
  outline: none;
  resize: none;
  font-size: 1.1rem;
}
/* navbar stylese */

.navbar {
  color: white;
  padding: 0.7rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  box-shadow: 0 0 5px 0px rgba(66, 64, 64, 0.336);
}

.logo-create {
  display: flex;
  font-size: 1.3rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
}
.create-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50px;
  transition: 0.1s ease-in-out;
}
.create-note:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgb(101, 97, 97);
}

#picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
#picker::-webkit-color-swatch {
  border-radius: 50%;
}
.search {
  background-color: white;
  border: none;
  border-radius: 40px;
  outline: transparent;
  padding: 0.3rem;
}
.search::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(142, 137, 137);
  padding-left: 0.3rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav-item {
  font-size: 1.3rem;
  cursor: pointer;
}

/* main container styles */
.container {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  justify-items: center;
}

.sticky-box {
  height: auto;
  width: 260px;
  background-color: #24252a;
  padding: 8px;
  border-radius: 10px;
  color: white;
  transition: 0.5s ease-in;
  margin-bottom: 1.5rem;
}

.sticky-box:hover {
  box-shadow: 0 0 20px 5px rgb(41, 40, 40);
}

.sticky-box-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  align-items: center;
  cursor: pointer;
}

.click-show {
  background-color: #e3daf0;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-box-nav-item {
  border: solid white 1px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.sticky-box-nav-item:hover {
  transform: scale(1);
}

.sticky-box-nav-item {
  padding: 0.3rem;
}

.text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.editable {
  font-family: "Roboto";
  padding: 0.5rem;
  width: 100%;
  height: 300px;
  background-color: white;
  color: black;
  outline: none;
  overflow: auto;
}
button {
  background-color: black;
  color: white;
  cursor: pointer;
}


.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.title {
  padding: 0.5rem 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-input {
  outline: transparent;
  border: none;
  padding: 0.3rem;
  width: 100%;
  font-weight: 300;
  font-size: 1.3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(18, 18, 18);
}

.title-input::placeholder {
  padding-left: 0.4rem;
}

.editable::-webkit-scrollbar {
  width: 6px;
}

.editable::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgb(32, 26, 26);
}

.editable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}

.menu {
  display: none;
}

/* mobile  styles */
@media (width<600px) {
  .menu {
    display: block;
  }

  .nav-items {
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: #2a2b2f;
    position: absolute;
    top: 0;
    left: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    box-shadow: 0 0 16px 0px #000 ;
  }

  .nav-item {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .documentation:hover {
    color: #c1abe0;
  }
  .search {
    height: 40px;
    width: 180px;
    border-radius: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-left: 10px;
  }
  .search::placeholder {
    align-items: center;
    text-align: center;
    margin-left: 18px;
    color: rgb(92, 88, 88);
  }

  .documentation {
    border: white 1px solid;
    background-color: rgb(107, 105, 100);
    font-size: 20px;
    border-radius: 20px;
    padding: 0.4rem;
    padding: 10px;
  }

  .documentation:hover
  {
    box-shadow: 0 0 28px 5px rgb(96, 85, 85);
  }
  .show-menu {
    left: 0;
  }
}
